body{
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #3333ff 0%, #00ff99 100%);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo {
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}

/*question box*/
.questions {
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgba(43, 78, 175, 0.45);
    cursor: default;
    border-radius: 1rem;
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem blue;
    width: 15rem;
    background: lightblue;
    border-radius: 1rem;
}
.option:hover{
    color: white;
}
